@using HanStore.MvsWebUI.Models;
@model Login

@{
    ViewBag.Title = "title";
}

<body class="bg-body-tertiary">

    <!-- Ortalamak istediğin kısım için container -->
    <div class="d-flex justify-content-center align-items-center" style="height: calc(100vh - 56px);">
        <!-- 56px navbar yüksekliği varsayıldı, kendi navbar yüksekliğine göre ayarla -->

        <div class="form-signin" style="max-width: 400px; width: 100%;">
            <!-- Form içeriğin buraya -->
            <h1 class="h3 mb-3 fw-normal text-center">Giriş Yap</h1>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <!-- Username input -->
                <div class="form-floating mb-3">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", id = "UserName", placeholder = "Kullanıcı Adı" } })
                    @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "form-label", @for = "UserName" })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>


                <!-- Password input -->
                <div class="form-floating mb-3">
                    <div class="form-floating mb-3">
                        @Html.PasswordFor(model => model.Password, new
                        {
                            @class = "form-control",
                            id = "Password",
                            placeholder = "Şifre",
                            style = "width:100%; font-size:1.25rem; padding:0.5rem;"
                        })
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "form-label", @for = "Password" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>

                </div>

                <!-- Remember me -->
                <div class="form-check text-start my-3">
                    @Html.CheckBoxFor(model => model.RememberMe, new { @class = "form-check-input", id = "RememberMe" })
                    <label class="form-check-label" for="RememberMe">Beni Hatırla</label>
                </div>

                <!-- Submit button -->
                <div class="d-flex justify-content-between">
                    <input type="submit" value="Giriş Yap" class="btn btn-success w-50 me-2" />
                    <a href="@Url.Action("Register", "Account")" class="btn btn-secondary w-50">Hesap Oluştur</a>

                </div>

                <p class="mt-5 mb-3 text-body-secondary text-center">©2025 HanStore</p>

            }
        </div>

    </div>

</body>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-..." class="astro-vvvwv3sm"></script>



